<mat-card class="bg-gray-100 border-dashed border-2 border-indigo-500 shadow-none">
  <mat-card-content class="grid grid-rows-2 grid-flow-col md:grid-rows-1">
    <div class="flex items-center gap-2 md:justify-center">
      <mat-icon class="text-cyan-500" fontIcon="water"></mat-icon>
      Water
    </div>
    <div class="flex items-center gap-2 md:justify-center">
      <mat-icon class="text-orange-500" fontIcon="waves"></mat-icon>
      Miss
    </div>
    <div class="flex items-center gap-2 md:justify-center">
      <mat-icon fontIcon="directions_boat"></mat-icon>
      Boat
    </div>
    <div class="flex items-center gap-2 md:justify-center">
      <mat-icon class="text-red-500" fontIcon="crisis_alert"></mat-icon>
      Hit
    </div>
  </mat-card-content>
</mat-card>
