:host {
  display: block;
  height: 100vh;
  width: 100vw;


  ::ng-deep {
    mat-tab-group {
      height: 100%;
      display: flex;
      flex-direction: column;

      .mat-mdc-tab-body-wrapper {
        flex: 1 1 auto;
      }

      .mat-mdc-tab-body {
        height: 100%;
      }
    }
  }
}
