@if (!isConnected()) {
  <app-loading class="flex justify-center mt-20" title="Connecting to Chat..."></app-loading>
} @else {
  <h2 class="py-1 px-1 border-b-1 border-gray-300 md:px-4 m-0">You: <span
    appCharToColor>{{ userService.user().id }}</span></h2>
  <div #chatMessagesContainer class="flex-1 min-h-[100px] flex flex-col gap-4 overflow-y-auto pt-1 px-1 md:px-4">
    @for (message of messages(); track message) {
      @if (message.origin === 'USER') {
        <div class="flex flex-col">
          <div class="flex items-center gap-2">
            <span appCharToColor>{{ message.user }}</span>
            @if (message.timestamp) {
              <span class="text-xs text-gray-500">{{ message.timestamp | date: 'HH:mm' }}</span>
            }
          </div>
          <span>{{ message.value }}</span>
        </div>
      } @else {
        <div class="flex items-center gap-2">
          <mat-icon class="icon-primary !overflow-visible" fontIcon="smart_toy"></mat-icon>
          <div class="flex items-center gap-2">
            <span>SYSTEM: <span appCharToColor>{{ message.user }}</span> {{ message.value }}</span>
            @if (message.timestamp) {
              <span class="text-xs text-gray-500">{{ message.timestamp | date: 'HH:mm' }}</span>
            }
          </div>
        </div>
      }
    }
  </div>
  <mat-form-field class="w-full" color="primary">
    <input (keyup.enter)="onEnter()"
           [formControl]="inputFormControl"
           matInput
           placeholder="Your objectively wrong message goes here..."
           type="text">
  </mat-form-field>
}

