<div>
  <mat-form-field appearance="outline" class="w-full" subscriptSizing="dynamic">
    <mat-label>{{ label() }}</mat-label>

    <input
      [formControl]="control()"
      [placeholder]="placeholder()"
      matInput
    >

    @if (icon()) {
      <mat-icon matPrefix>{{ icon() }}</mat-icon>
    }
  </mat-form-field>

  <div class="progress-container">
    <div
      [ngStyle]="{
            transition: animating() ? 'width ' + debounceMs() + 'ms linear' : 'none',
            width: animating() ? '100%' : '0%'
          }"
      class="progress-bar"
    ></div>
  </div>
</div>
