.progress-container {
  height: 5px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.progress-bar {
  height: 100%;
  background: var(--mat-button-outlined-label-text-color);
}
