<div class="search-wrapper relative">
  <mat-form-field
    appearance="outline"
    class="w-full"
    subscriptSizing="dynamic"
  >
    <mat-label>{{ label() }}</mat-label>

    <input
      matInput
      (blur)="onBlur()"
      (input)="onInput($any($event.target).value)"
      [disabled]="disabled()"
      [placeholder]="placeholder()"
      [value]="value()"
    >

    @if (icon()) {
      <mat-icon matPrefix>{{ icon() }}</mat-icon>
    }

    @if (value()) {
      <button
        (click)="clear()"
        aria-label="Clear"
        mat-icon-button
        matSuffix
      >
        <mat-icon>clear</mat-icon>
      </button>
    }
  </mat-form-field>

  <div class="progress-container">
    <div
      [ngStyle]="{
        transition: animating() ? 'width ' + debounceMs() + 'ms linear' : 'none',
        width: animating() ? '100%' : '0%'
      }"
      class="progress-bar"
    ></div>
  </div>
</div>
