<ng-container *transloco="let t">
  <mat-accordion [formGroup]="service.filterForm">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span>{{ t('goshuin.filter.title', { count: filterCount() }) }}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="flex flex-col md:flex-row py-2 gap-4 md:justify-between lg:justify-start">
        <app-named-chip-list-filter [title]="t('goshuin.filter.affiliation')">
          <mat-chip-listbox class="grow" formControlName="affiliation" hideSingleSelectionIndicator>
            <mat-chip-option [value]="AffiliationType.Shinto">{{ t('goshuin.filter.shinto') }}</mat-chip-option>
            <mat-chip-option [value]="AffiliationType.Buddhist">{{ t('goshuin.filter.buddhist') }}</mat-chip-option>
          </mat-chip-listbox>
        </app-named-chip-list-filter>
        <app-named-chip-list-filter [title]="t('goshuin.filter.format')">
          <mat-chip-listbox class="grow" formControlName="format" hideSingleSelectionIndicator>
            <mat-chip-option [value]="GoshuinFormat.Written">{{ t('goshuin.filter.written') }}</mat-chip-option>
            <mat-chip-option [value]="GoshuinFormat.Paper">{{ t('goshuin.filter.paper') }}</mat-chip-option>
            <mat-chip-option [value]="GoshuinFormat.Cut">{{ t('goshuin.filter.cut') }}</mat-chip-option>
            <mat-chip-option [value]="GoshuinFormat.Other">{{ t('goshuin.filter.other') }}</mat-chip-option>
          </mat-chip-listbox>
        </app-named-chip-list-filter>
        <app-named-chip-list-filter [title]="t('goshuin.filter.layoutLength')">
          <mat-chip-listbox class="grow" formControlName="pages" hideSingleSelectionIndicator>
            <mat-chip-option value="1">{{ t('goshuin.filter.onePage') }}</mat-chip-option>
            <mat-chip-option value="2">{{ t('goshuin.filter.twoPages') }}</mat-chip-option>
            <mat-chip-option value="3">{{ t('goshuin.filter.threePages') }}</mat-chip-option>
            <mat-chip-option value="4">{{ t('goshuin.filter.fourPages') }}</mat-chip-option>
          </mat-chip-listbox>
        </app-named-chip-list-filter>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>
