<div class="flex flex-col md:flex-row border border-gray-600 md:h-90">
  <div class="relative md:grow md:basis-0 h-full">
    <div class="absolute top-3 left-3 flex flex-col gap-1 text-white">
      <div
        class="px-3 py-1 rounded-full bg-gray-800/75 w-fit border border-gray-600">{{ goshuin().temple.affiliationType }}
      </div>
      <div class="px-3 py-1 rounded-full bg-gray-800/75 w-fit border border-gray-600">{{ goshuin().format }}</div>
      <div class="px-3 py-1 rounded-full bg-gray-800/75 w-fit border border-gray-600">
        {{ goshuin().pages }}
      </div>
    </div>
    <div
      class="absolute bottom-0 left-0 flex flex-col md:hidden bg-[linear-gradient(to_top,color-mix(in_srgb,var(--mat-sys-surface)_80%,transparent)_0%,color-mix(in_srgb,var(--mat-sys-surface)_50%,transparent)_70%,transparent_100%)] w-full p-3">
      <span class="font-medium text-lg">{{ goshuin().temple.translations[currentLocale()]?.name }}</span>
      <button class="w-fit !pl-0" mat-button>
        <mat-icon class="">location_on</mat-icon>
        {{ goshuin().temple.translations[currentLocale()]?.city }}
        , {{ goshuin().temple.translations[currentLocale()]?.prefecture }}
        , {{ goshuin().temple.translations[currentLocale()]?.region }}
      </button>
    </div>
    <img [src]="goshuin().images?.[0]?.url" alt="goshuin" class="h-full w-full object-cover">
  </div>
  <div class="flex flex-col gap-2 p-3 justify-between md:grow md:basis-0 min-h-0">
    <div class="flex flex-col gap-2 hidden md:flex grow min-h-0">
      <h2 class="text-lg">{{ goshuin().translations[currentLocale()]?.label }}</h2>
      <h3 class="text-md">{{ goshuin().temple.translations[currentLocale()]?.name }}</h3>
      <button class="w-fit !pl-0" mat-button>
        <mat-icon class="">location_on</mat-icon>
        {{ goshuin().temple.translations[currentLocale()]?.address }}
        , {{ goshuin().temple.translations[currentLocale()]?.city }}
        {{ goshuin().temple.translations[currentLocale()]?.postalCode }}
        , {{ goshuin().temple.translations[currentLocale()]?.prefecture }}
      </button>
      <mat-divider></mat-divider>
      <p class="grow overflow-y-auto">{{ goshuin().translations[currentLocale()]?.description }}</p>
    </div>
    @if (goshuin().translations[currentLocale()]?.label) {
      <span class="font-medium text-lg md:hidden">{{ goshuin().translations[currentLocale()]?.label }}</span>
    }
    <div class="flex justify-between items-center">
      <div class="flex gap-4 items-center">
        <mat-icon>account_box</mat-icon>
        <div class="flex flex-col ">
          <span class="text-gray-200">
            @if (goshuin().creator.profile?.displayName) {
              {{ goshuin().creator.profile?.displayName ?? 'Unknown Creator' }}
            } @else {
              {{ goshuin().creator.userId }}
            }

          </span>
          <span class="text-xs text-gray-400">{{ goshuin().createdAt | date:'yyyy-MM-dd' }}</span>
        </div>
      </div>
      <button mat-button>
        <mat-icon>comment</mat-icon>
        {{ goshuin().commentCount }}
      </button>
    </div>
  </div>

</div>
