<div class="flex flex-col gap-5 p-4">
  <a mat-stroked-button routerLink="/chat">
    <mat-icon class="mx-0" fontIcon="chat"></mat-icon>
    <span class="hidden md:block ml-4">Global Chat</span>
  </a>
  <a mat-stroked-button routerLink="/boat">
    <mat-icon class="m-0" fontIcon="directions_boat"></mat-icon>
    <span class="hidden md:block ml-4">Boat</span>
  </a>
  <a mat-stroked-button routerLink=".">
    <mat-icon class="m-0" fontIcon="restaurant_menu"></mat-icon>
    <span class="hidden md:block ml-4">restaurant</span>
  </a>
  <a mat-stroked-button routerLink=".">
    <mat-icon class="m-0" fontIcon="flare"></mat-icon>
    <span class="hidden md:block ml-4">bomb</span>
  </a>
</div>
