<ng-container *transloco="let t">
  <div [formGroup]="service.filterForm" class="flex flex-col gap-2 md:flex-row md:items-center">
    <app-debounced-search-field [debounceMs]="service.searchDebounceTime"
                                [label]="t('goshuin.search.label')"
                                [placeholder]="t('goshuin.search.placeholder')"
                                class="grow"
                                formControlName="search"
    />
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>{{ t('goshuin.sort.label') }}</mat-label>

      <mat-select formControlName="sort">
        <mat-option [value]="GoshuinSort.CreatedAt">
          {{ t('goshuin.sort.newest') }}
        </mat-option>
        <mat-option [value]="GoshuinSort.CommentCount">
          {{ t('goshuin.sort.comments') }}
        </mat-option>
        <mat-option [value]="GoshuinSort.Proximity">
          {{ t('goshuin.sort.proximity') }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="flex gap-2 items-center">
      <a [routerLink]="fullDashBoardLink" class="grow min-w-fit whitespace-nowrap" color="primary" mat-stroked-button>
        <mat-icon color="primary" fontIcon="dashboard"></mat-icon>
        <span>{{ t('goshuin.browse.goToDashboard') }}</span>
      </a>
      <a [routerLink]="fullMapLink" class="grow min-w-fit whitespace-nowrap" color="primary" mat-stroked-button>
        <mat-icon color="primary" fontIcon="map"></mat-icon>
        <span>{{ t('goshuin.browse.goToMap') }}</span>
      </a>
    </div>
  </div>
</ng-container>
